<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85091586156-sc6p6s3v6p7aqiohbbn5vtfchc3of64f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85091586156-sc6p6s3v6p7aqiohbbn5vtfchc3of64f</string>
	<key>API_KEY</key>
	<string>AIzaSyAp4ynGeuaKbHLcKbLmuigkGpwC3WuWfy0</string>
	<key>GCM_SENDER_ID</key>
	<string>85091586156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.htsuruo.nippo</string>
	<key>PROJECT_ID</key>
	<string>practice-nippo</string>
	<key>STORAGE_BUCKET</key>
	<string>practice-nippo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85091586156:ios:69f9da8a852190a6370849</string>
</dict>
</plist>